@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* .lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
  } */

/* .heebouniquifier {
    font-family: "Heebo", sans-serif;
  } */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-color: #f4c552;
  --dark-color: #273458;
  --parag-color: #666666;
  --background: #f9f9f9;
  --black: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}

p {
  color: var(--parag-color);
}

*::selection {
  background-color: var(--dark-color);
  color: var(--main-color);
}

.container {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

body {
  background-color: var(--background);
}

/* start header */
header .top_header {
  padding: 10px 0;
  background-color: var(--dark-color);
  color: #fff;
}

header .top_header .container {
  display: flex;
  justify-content: space-between;
}

header .top_header .follow-us,
header .top_header .header_info li,
header .top_header .header_info {
  display: flex;
  align-items: center;
}

header .top_header .header_info {
  gap: 20px;
}

header .top_header .header_info li {
  gap: 10px;
}

header .top_header .header_info li i {
  font-size: 16px;
}

header .top_header .header_info li a,
header .top_header .header_info li span {
  font-size: 14px;
  color: #fff;
}

header .top_header .follow-us {
  gap: 5px;
}

header .top_header .follow-us li a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s ease-in-out;
}

header .top_header .follow-us li a:hover i {
  background-color: var(--main-color);
  color: var(--dark-color);
}

header nav {
  padding: 10px 0;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

header nav .logo img {
  width: 60px;
}

header nav .logo h1 {
  font-family: "Lobster Two", sans-serif;
  font-size: 30px;
  text-transform: capitalize;
}

header nav .page_nav {
  display: flex;
  gap: 20px;
}

header nav .page_nav li {
  padding: 3px 0;
  position: relative;
}

header nav .page_nav li.active a {
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}

header nav .page_nav li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 30px;
}

header nav .page_nav li a {
  color: var(--black);
  text-transform: capitalize;
}

header nav .phone_nav a {
  padding: 10px 20px;
  background-color: var(--dark-color);
  color: #fff;
  border: 2px solid var(--dark-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease-in-out;
}

header nav .phone_nav a i {
  font-size: 16px;
}

header nav .phone_nav a span {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

header nav .phone_nav a:hover {
  background-color: transparent;
  color: var(--dark-color);
}

/* end header */

/* start hero-sec */

.hero-sec .slide-swp {
  overflow: hidden;
  position: relative;
}

.hero-sec .slide-swp .swiper-slide {
  position: relative;
}

.hero-sec .slide-swp .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
}

.hero-sec .slide-swp .swiper-pagination span {
  background-color: #fff;
  opacity: 1;
}

.hero-sec .slide-swp .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
  width: 30px !important;
  border-radius: 25px !important;
}

.hero-sec .slide-swp .swiper-slide .content_swp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #27345854;
  padding: 20px;
  border-radius: 5px;
}

.hero-sec .slide-swp .swiper-slide .content_swp h1 {
  font-size: 40px;
  font-family: "Lobster Two", sans-serif;
  text-transform: capitalize;
}

.hero-sec .slide-swp .swiper-slide .content_swp p {
  font-size: 14px;
  text-align: center;
  color: var(--background);
}

.hero-sec .slide-swp .swiper-slide .content_swp a {
  padding: 7px 20px;
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  font-size: 14px;
  color: var(--main-color);
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.hero-sec .slide-swp .swiper-slide .content_swp a:hover {
  background-color: var(--main-color);
  color: var(--dark-color);
}
/* end hero-sec */

/* start about-sec */
.about-sec {
  padding: 40px 0;
}

.about-sec .container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-sec .about_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-sec .about_content h1 {
  font-size: 40px;
  font-family: "Lobster Two", sans-serif;
}

.about-sec .about_content .about_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-sec .about_content .about_text p {
  font-size: 14px;
  line-height: 1.6;
}

.about-sec .about_content .about_text .avantages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-sec .about_content .about_text .avantages ul li {
  padding-left: 10px;
  line-height: 1.6;
  display: flex;
  gap: 3px;
  align-items: center;
}

.about-sec .about_content .about_text .avantages ul li i {
  font-size: 16px;
  color: var(--main-color);
}

.about-sec .about_content .about_text .avantages ul li span {
  font-size: 14px;
  color: var(--parag-color);
}

.about-sec .about_content .about_bottom {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about-sec .about_content .about_bottom .btn_contact {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  font-size: 14px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.about-sec .about_content .about_bottom .btn_contact:hover {
  background-color: transparent;
  color: var(--main-color);
}

.about-sec .about_content .about_bottom ul {
  display: flex;
  gap: 10px;
}

.about-sec .about_content .about_bottom ul a {
  color: var(--dark-color);
  transition: 0.3s ease-in-out;
}

.about-sec .about_content .about_bottom ul a:hover {
  color: var(--main-color);
  transform: scale(1.4);
}

.about-sec .about_content .about_bottom ul a li i {
  font-size: 16px;
}

.about-sec .about_images {
  width: 50%;
  height: 500px;
  position: relative;
}

.about-sec .about_images .main_img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  border-radius: 50%;
  border: 15px solid #f4c6528d;
  transition: 0.3s ease-in-out;
}

.about-sec .about_images .second_img img:hover,
.about-sec .about_images .main_img:hover {
  border-color: var(--main-color);
}

.about-sec .about_images .second_img {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.about-sec .about_images .second_img img {
  width: 45%;
  border-radius: 50%;
  border: 13px solid #f4c6528d;
  transition: 0.3s ease-in-out;
}
/* end about-sec */

/* start course_sec */
.course_sec {
  padding: 40px 0;
}

.course_sec .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_sec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.title_sec h1 {
  font-size: 40px;
  font-family: "Lobster Two", sans-serif;
}

.title_sec p {
  width: 80%;
  font-size: 14px;
  text-align: center;
  line-height: 1.6;
}

.course_sec .courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course_sec .courses .single_course {
  width: 48%;
  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
}

.course_sec .courses .single_course:hover {
  box-shadow: 10px 15px 20px #94949428;
}

.course_sec .courses .single_course img {
  width: 50%;
  border-right: 2px solid var(--main-color);
}

.course_sec .courses .single_course .content_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.course_sec .courses .single_course .content_text .name_course {
  padding: 5px 15px;
  width: fit-content;
  background-color: var(--dark-color);
  color: #fff;
  border-radius: 20px;
  font-size: 14px;
  font-family: "Lobster Two", sans-serif;
}

.course_sec .courses .single_course .content_text h2 {
  font-size: 18px;
}

.course_sec .courses .single_course .content_text h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-color);
}

.course_sec .courses .single_course .content_text p {
  font-size: 12px;
}
/* end course_sec */

/* start tarif_sec */
.tarif_sec {
  padding: 40px 0;
}

.tarif_sec .plans {
  margin: 20px 0;
  overflow: hidden;
}

.tarif_sec .single_plan {
  width: 23%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.tarif_sec .single_plan .title_plan {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tarif_sec .single_plan .title_plan img {
  width: 50px;
}

.tarif_sec .single_plan .title_plan h1 {
  font-size: 30px;
  font-family: "Lobster Two", sans-serif;
}

.tarif_sec .single_plan .text_plan {
  font-size: 14px;
  line-height: 1.6;
}

.tarif_sec .single_plan .price {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tarif_sec .single_plan .price h2 {
  font-size: 23px;
  font-weight: bold;
  color: var(--dark-color);
}

.tarif_sec .single_plan .price h4 {
  font-size: 18px;
  color: var(--parag-color);
}

.tarif_sec .single_plan ul {
  color: var(--parag-color);
  line-height: 1.6;
  font-size: 14px;
}

.tarif_sec .single_plan ul li {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tarif_sec .single_plan ul li i {
  color: green;
}

.tarif_sec .single_plan .bottom_plan a {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.tarif_sec .single_plan .bottom_plan a:hover {
  background-color: transparent;
  color: var(--main-color);
}

/* end tarif_sec */

/* start contact_sec */
.contact_sec {
  padding: 40px 0;
}

.contact_sec .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_sec .icons_contact {
  display: flex;
  justify-content: space-between;
}

.contact_sec .icons_contact li {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact_sec .icons_contact li span {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-color);
  text-align: center;
}

.contact_sec .icons_contact li span i {
  font-size: 25px;
}

.contact_sec .icons_contact li .icons {
  width: 60px;
  height: 60px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact_sec .contact_form {
  display: flex;
  background-color: #f4c65223;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  overflow: hidden;
}

.contact_sec .contact_form .content_contact {
  width: 50%;
  padding: 20px;
  border-right: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_sec .contact_form .content_contact p {
  font-size: 14px;
  color: var(--dark-color);
}

.contact_sec .contact_form .content_contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_sec .contact_form .content_contact form .two_inputs {
  display: flex;
  gap: 10px;
}

.contact_sec .contact_form .content_contact form .two_inputs input {
  width: 50%;
}

.contact_sec .contact_form .content_contact form .one_input textarea,
.contact_sec .contact_form .content_contact form .one_input input {
  width: 100%;
}

.contact_sec .contact_form .content_contact form .one_input textarea,
.contact_sec .contact_form .content_contact form .one_input input,
.contact_sec .contact_form .content_contact form .two_inputs input {
  padding: 7px 10px;
  border: 1px solid #6666664b;
  outline: none;
  border-radius: 5px;
}

.contact_sec .contact_form .content_contact form .one_input textarea:focus,
.contact_sec .contact_form .content_contact form .one_input input:focus,
.contact_sec .contact_form .content_contact form .two_inputs input:focus {
  border-color: var(--main-color);
}

.contact_sec .contact_form .content_contact form button {
  padding: 8px 0;
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact_sec .contact_form .content_contact form button:hover {
  background-color: transparent;
  color: var(--main-color);
}

.contact_sec .contact_form iframe {
  width: 50%;
}
/* end contact_sec */

/* start footer */
footer {
  background-color: var(--dark-color);
}

footer .footer_sections {
  padding: 20px 0;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

footer .footer_sections .footer_single_sec {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer_sections .footer_single_sec h1 {
  font-size: 30px;
  font-family: "Lobster Two", sans-serif;
}

footer .footer_sections .footer_single_sec .content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer .footer_sections .footer_single_sec .contact_info {
  color: var(--background);
  line-height: 1.6;
}

footer .footer_sections .footer_single_sec .contact_info li {
  display: flex;
  gap: 5px;
  align-items: center;
}

footer .footer_sections .footer_single_sec .contact_info li i {
  font-size: 16px;
}

footer .footer_sections .footer_single_sec .contact_info li span {
  font-size: 14px;
}

footer .footer_sections .footer_single_sec .social_links {
  padding: 20px 0;
  display: flex;
  gap: 10px;
}

footer .footer_sections .footer_single_sec .social_links a {
  color: var(--background);
}

footer .footer_sections .footer_single_sec .social_links li {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background);
  border-radius: 50%;
}

footer .footer_sections .footer_single_sec .social_links li i {
  font-size: 16px;
}

footer .footer_sections .footer_single_sec .social_links li:hover {
  background-color: var(--main-color);
  border: none;
  color: var(--dark-color);
}

footer .footer_sections .footer_single_sec .quick_links {
  font-size: 14px;
  line-height: 1.6;
}

footer .footer_sections .footer_single_sec .quick_links li {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.3s ease-in-out;
}

footer .footer_sections .footer_single_sec .quick_links li i {
  font-size: 10px;
  color: #fff;
}

footer .footer_sections .footer_single_sec .quick_links li a {
  color: #fff;
}

footer .footer_sections .footer_single_sec .quick_links li a::first-letter {
  text-transform: capitalize;
}

footer .footer_sections .footer_single_sec .quick_links li:hover {
  transform: scale(1.05);
}

footer .footer_sections .footer_single_sec .quick_links li:hover i,
footer .footer_sections .footer_single_sec .quick_links li:hover a {
  color: var(--main-color);
}

footer .footer_sections .footer_single_sec .gallery {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

footer .footer_sections .footer_single_sec .gallery img {
  width: 32%;
  border: 5px solid var(--main-color);
  margin-bottom: 5px;
}

footer .bottom_footer {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #66666680;
}

footer .bottom_footer p {
  font-size: 14px;
  text-align: center;
  color: var(--background);
}

footer .bottom_footer p span {
  font-weight: bold;
  color: var(--main-color);
}

footer .bottom_footer p a {
  color: #fff;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}

footer .bottom_footer p a:hover {
  color: var(--main-color);
}
/* end footer */





/************************************************************************************************/
/*************************************** start responsive ***************************************/
/************************************************************************************************/

/* start header */

/* end header */











/************************************************************************************************/
/*************************************** end responsive   ***************************************/
/************************************************************************************************/